body
header.theme-dark { background-color: var(--trend-900) }
header.theme-dark .badge { background-color: var(--slate-050) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--trend-800) }
background-colour { background-color: var(--trend-800) }


.section-selector-1.theme-dark { background-color: var(--trend-900) }

 body {font-family: 'Source Serif Pro', serif;
  font-size: small 24px;
  
 }


 /* Desktops */
@media (min-width: 767px) {
    body { padding: 0% 0% }
 }
 
 /* Mobiles */
 @media (max-width: 767px) {
    body { padding: 0% 0% }
 }


 #heading {
   text-align: center;
   
   
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size:cover; 
   margin-bottom: 0 !important;
 }

