/* Add custom style here  */
#hero-4 header.theme-light { background-color: var(--trend-100) }
#hero-4 header.theme-light .container-btn a.btn:nth-child(1):link,
#hero-4 header.theme-light .container-btn a.btn:nth-child(1):visited { color: var(--black-000) }

#hero-4 header.theme-light .container-btn a.btn:nth-child(1):focus,
#hero-4 header.theme-light .container-btn a.btn:nth-child(1):hover,
#hero-4 header.theme-light .container-btn a.btn:nth-child(1):active { color: var(--white-000) }

#hero-4 header.theme-light .container-btn a.btn:nth-child(1):focus,
#hero-4 header.theme-light .container-btn a.btn:nth-child(1):hover,
#hero-4 header.theme-light .container-btn a.btn:nth-child(1):active { background-color: var(--gray-600) }

#hero-4 header.theme-light .container-btn a.btn:nth-child(1):link,
#hero-4 header.theme-light .container-btn a.btn:nth-child(1):visited { border-color: var(--black-000) }

#hero-4 header.theme-light .container-btn a.btn:nth-child(1):focus,
#hero-4 header.theme-light .container-btn a.btn:nth-child(1):hover,
#hero-4 header.theme-light .container-btn a.btn:nth-child(1):active { border-color: var(--gray-600) }

#hero-4 header.theme-light .container-btn a.btn:nth-child(2):link,
#hero-4 header.theme-light .container-btn a.btn:nth-child(2):visited { color: var(--white-000) }

#hero-4 header.theme-light .container-btn a.btn:nth-child(2):focus,
#hero-4 header.theme-light .container-btn a.btn:nth-child(2):hover,
#hero-4 header.theme-light .container-btn a.btn:nth-child(2):active { color: var(--white-000) }

#hero-4 header.theme-light .container-btn a.btn:nth-child(2):link,
#hero-4 header.theme-light .container-btn a.btn:nth-child(2):visited { background-color: var(--black-000) }

#hero-4 header.theme-light .container-btn a.btn:nth-child(2):focus,
#hero-4 header.theme-light .container-btn a.btn:nth-child(2):hover,
#hero-4 header.theme-light .container-btn a.btn:nth-child(2):active { background-color: var(--gray-600) }

#hero-4 header.theme-light .container-btn a.btn:nth-child(2):link,
#hero-4 header.theme-light .container-btn a.btn:nth-child(2):visited { border-color: var(--black-000) }

#hero-4 header.theme-light .container-btn a.btn:nth-child(2):focus,
#hero-4 header.theme-light .container-btn a.btn:nth-child(2):hover,
#hero-4 header.theme-light .container-btn a.btn:nth-child(2):active { border-color: var(--gray-600) }

#hero-4 header.theme-light h1 {
    font-family: 'Prata', serif;
    font-weight: 400;
    line-height: 1.2
 }

